<!DOCTYPE html>
{% load i18n %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}{% trans "Django App" %}{% endblock %}
    </title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <style>
      body {
        background-color: #2e2e2e;
        color: #f8f9fa;
      }
      .navbar {
        background-color: #343a40;
      }
      .nav-link {
        color: #f8f9fa !important;
      }
      .nav-link:hover {
        color: #adb5bd !important;
      }
      .container {
        padding-top: 30px;
      }
      .language-icons img {
        width: 24px;
        height: 16px;
        margin-right: 8px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="/">{% trans "My Django App" %}</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">{% trans "Home" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search-records">{% trans "Search" %}</a>
          </li>
        </ul>
        <div class="language-icons">
          <form action="{% url 'set_language' %}" method="post" style="display: inline;">
            {% csrf_token %}
           <input type="hidden" name="language" value="en">
    <button type="submit" style="background: none; border: none; padding: 0; width: 24px; height: 16px;">
            <img src="https://flagicons.lipis.dev/flags/4x3/gb.svg" alt="English" title="English" style="width: 100%; height: 100%; display: block;">
           </button>
          </form>
          <form action="{% url 'set_language' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <input type="hidden" name="language" value="pl">
    <button type="submit" style="background: none; border: none; padding: 0; width: 24px; height: 16px;">
              <img src="https://flagicons.lipis.dev/flags/4x3/pl.svg" alt="Polski" title="Polski" style="width: 100%; height: 100%; display: block;">
             </button>
          </form>
</div>

      </div>
    </nav>
    <div class="container">{% block content %} {% endblock %}</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
    ></script>
  </body>
</html>
